{% assign speed = image_animation_speed %}
<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-52 overflow-hidden">
          <img
            class="w-full h-full object-cover overflow-hidden {% if image_animation %}transition duration-{{ speed | times: 1000 }} ease-in-out hover:scale-105 transform{% endif %}"
            src="{{ product.featured_image | img_url: 'master' }}"
            alt="{{ product.featured_image.alt }}">
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>
    {% if show_vendor == false and show_price == false and show_product_title == false %}
      {% else %}
        <div class="flex flex-col p-4">
          {% if show_vendor %}
            <span class="text-sm">{{ product.vendor }}</span>
          {% endif %}
          {% if show_product_title %}
            <a class="text-gray-700 uppercase font-medium" href="{{ product.url }}">{{ product.title | truncatewords: 3 }}</a>
          {% endif %}
          {% if show_price %}
            <p class="text-gray-500">
              {{ product.price | money }}
            </p>
          {% endif %}
        </div>
    {% endif %}

  </div>
</div>